* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0f0c29, #373362, #8989c1);
    padding: 10px;
}

.todo-app{
    width: 70%;
    max-width:540px;
    background:linear-gradient(135deg, #8989c1, #555179, #8989c1);
    margin: 100px auto 20px auto;
    padding: 40px 30px 70px 30px;
    border-radius: 10px;
}

.todo-app h2{
    color: rgb(29, 9, 66);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30%;
}

.todo-app h2 img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}



.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding-left: 10px ; 
    margin-bottom: 20px;
    border-radius: 30px;
    position: relative;
}

.input-box,.date-box {
    flex: 1; 
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    position: relative;
}


.input-box input,.date-box input {
    width: 100%; 
    height: 100%; 
    border: none;
    outline: none;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

.input-box input {
    background: whitesmoke; 
}

.date-box input {
    background: rgb(87, 80, 136); 
    color: whitesmoke;
}

button{
    border: none;
    outline: none;
    padding: 10px 20px ;
    background-color: #1B1A55;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 19px;
    padding-top: 20px;


}

ul li{
    list-style:none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: whitesmoke;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left:8px;

}

ul li.checked{
   color: #1B1A55;
   text-decoration: line-through; 
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position:absolute;
    right:0;
    top: 5px;
    width:40px;
    height:40px;
    font-size: 22px;
    color: #1B1A55;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: #edeef0;
}